@font-face{
    src: local('Chelsea Market Normal'),
    url('ChelseaMarket-Regular.ttf') ;

    font-family:'Chelsea';
    

}
@font-face{
    src: local('Oswald Mediana'),
    url('Oswald-Medium.ttf');
    font-family: 'Oswald';
}
body{
    margin: 0px;
    background-image: linear-gradient(to top ,Coral,lightsalmon,Salmon);
}

.informacion{
    display: flex;
    justify-content: center;
    margin: 3em;
}

.info-icon{
    height: 68px;
    width: 68px;
}

.info__det{
    padding: 3em;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 80%;
    transition: transform .5s;
}
.info__det:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.info__det > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chelsea';
    text-shadow: 1px 1px black;
    color:grey;
    font-size: 300%;
    
}

.card {
    display: flex;
    justify-content: center;
}

p:nth-child(2){
    display: flex;
    position:relative;
    bottom: 50px;
    color: blanchedalmond;
    text-shadow: 1px 1px black;
    font-size: 100%;
   
}
.circulos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.circle{
    width: 80px;
    height: 80px;
    margin:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;

}
[src="descargar.png"]{
    width: 85%;
    height: 85%;
}

/* Habilidades */
.habilidades-container{
    margin-left: 2em;
    margin-right: 2em;
}

.habilidades{
    margin: 1em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.skills__box{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 166, 0, 0.733);
    border-radius: 50%;
    box-shadow: 1px 1px black;
    transition: transform .5s;
}

.titulo{
    text-align: center;
    font-size: 38pt;
}

.titulo__caja{
    font-family: 'Oswald';
    text-shadow: 1px 1px white;
}

.skills_circle{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
    
}
.skills__box:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;

}
.skills__circle > p{
    font-family: 'Oswald';
    font-size: 26pt;
    position: relative;
    
}
.barra{
    display: flex;
    position: relative;
    width: 60%;
    height: 10%;
    background-color: antiquewhite;
    border: 1px solid white;
    border-radius: 10%;
    bottom: 10%;
}

[class^=barra-efecto]{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: black;
    
}


.barra-efecto__1{
    width: 80%;
}
.barra-efecto__1::after{
    content:'90%';
    font-family: 'Chelsea';
    font-size: 80%;
    color: white;
}
.barra-efecto__2{
    width: 40%;
}
.barra-efecto__2::after{
    content:'40%';
    font-family: 'Chelsea';
    font-size: 80%;
    color: white;
}

.barra-efecto__3{
    width: 65%;
}
.barra-efecto__3::after{
    content:'65%';
    font-family: 'Chelsea';
    font-size: 80%;
    color: white;
}
.barra-efecto__4{
    width: 70%;
}
.barra-efecto__4::after{
    content:'50%';
    font-family: 'Chelsea';
    font-size: 80%;
    color: white;
}
.barra-efecto__5{
    width: 60%;
}
.barra-efecto__5::after{
    content:'60%';
    font-family: 'Chelsea';
    font-size: 80%;
    color: white;
}

.barra-efecto__6{
    width: 70%;
}
.barra-efecto__6::after{
    content:'70%';
    font-family: 'Chelsea';
    font-size: 80%;
    color: white;
}



.skills__box:first-child{
    grid-column: 1/2;
    
    
}
.skills__box:nth-child(2){
    grid-column: 2/3;

}
.skills__box:nth-child(3){
    grid-column: 3/4;
    

}
.skills__box:nth-child(4){
    grid-column: 4/5;

}
.skills__box:nth-child(5){
    grid-column: 5/6;
    

}
.skills__box:last-child{
    grid-column: 6/7;
}

.proyectos{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.proyectos__titulo{
    font-family: 'Oswald';
    text-shadow: 1px 1px white;
}

.proyectos__cuadro{
    text-align: center;
    width: 70%;
}

.cuadro{
    display: flex;
    position: relative;
    background-image: url('generales.jpg');
    background-size: cover;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    /* box-shadow: 1px 2px black;     */
    border-radius: 30%;
    font-size: 300%;
    opacity: 1.5;
    font-family: 'serif';
    color:white;
    border: 3px solid black;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; 
    padding-top: 56.25%;
}

.cuadro:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
